body{
	background-image: url(img/rainbow.jpg);
	background-size: 100%;
}

h1{
	color: red;
	text-align: center;	 
	height: 40px;
}
.navbar{
	text-align: center;
	font-size: 50;
}
#featurecake{
	background-color: green;
	width: 50%;
	color: yellow;
	} 
#dailydesc{
	background-color: blue;
	color:white;
}
#weeklydesc{
	background-color: pink;
	color:blue;
}
.fonts{
	font-family: 'Shrikhand', cursive;
}

.margins{
	margin: 5px;
	padding: 5px;
}