body{
	background-image: url(img/rainbow.jpg);
	background-size: 100%;
}
header{
	color: blue;
	font-size: 40px;
	text-shadow: 0 0 4px green, 0 0 4px green, 0 0 4px green, 0 0 4px green, 0 0 4px green;
}
footer{
	color: black;
}
.coil{
	color: red;
}
.navbar{
	text-align: center;
	font-size: 50;
}
#featurecake{
	width: 50%;
	color: orange;
	} 
#dailydesc{
	color: orange;
}
#weeklydesc{
	color: orange;
}
.fonts{
	font-family: 'Shrikhand', cursive;
}

.margins{
	margin: 5px;
	padding: 5px;
}
.greenshadow{
	text-shadow: 0 0 4px blue, 0 0 4px blue, 0 0 4px blue, 0 0 4px blue, 0 0 4px blue;
}
.img{
	height: 300px;
}
